.App, .mainLogo {
  text-align: center;
  
}


.Logo-logo {
  height: 30%;
  width: 30%;
  border-radius: 30%;

}

.Logo-header {
  background-color: #1b0414;
  align-items: center;
  font-size:x-large;
  color: white;

}


.newPreview section{
  padding: 2%;
  display: inline-flex;
  justify-content: center;
  margin-bottom:2%;
}



.nameContact, .contactData{
  font-size: xx-large;
  padding:1%;
}

.myName{
  font-size: xx-large;
}